<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.knightzz.mapper.UserMapper">

    <resultMap id="UserResultMap" type="cn.knightzz.entity.User">

        <!-- 封装主键字段 -->
        <id property="uid" column="id"></id>
        <!-- 配置普通字段 -->
        <result property="usernameABC" column="username"></result>
        <result property="birthdayABC" column="birthday"></result>
        <result property="sexABC" column="sex"></result>
        <result property="addressABC" column="address"></result>
    </resultMap>

    <select id="findUserById" parameterType="int" resultMap="UserResultMap">
        select *
        from user
        where id = #{id};
    </select>

    <select id="findUserByName" parameterType="string" resultMap="UserResultMap">
        select *
        from user
        where username like #{username};
    </select>
</mapper>